registry = "https://registry.npmmirror.com"

# 提升依赖到根目录
public-hoist-pattern[]=eslint
public-hoist-pattern[]=prettier
public-hoist-pattern[]=prettier-plugin-tailwindcss
public-hoist-pattern[]=*stylelint*
public-hoist-pattern[]=*postcss*
public-hoist-pattern[]=@commitlint/*
public-hoist-pattern[]=czg
# public-hoist-pattern[]=lefthook

# 允许 peerDependencies 不匹配
strict-peer-dependencies=false
# 自动安装任何缺失的非可选对等依赖
auto-install-peers=true
# 允许 peerDependencies 重复安装
dedupe-peer-dependents=true
# 设置为 true 本地可用的软件包将链接到 node_modules
link-workspace-packages = true
# 忽略工作区根目录检查
ignore-workspace-root-check=true
