:root {
  --popup-z-index: 2000;
  --radius: 0.625rem;
  --font-family:
    -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, 'Helvetica Neue',
    arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';

  /* 主体区域背景色 */
  --background: oklch(100% 0 0deg);
  --foreground: oklch(12.9% 0.042 264.695deg);

  /* Background color for <Card /> */
  --card: oklch(100% 0 0deg);
  --card-foreground: oklch(12.9% 0.042 264.695deg);

  /* Background color for popovers such as <DropdownMenu />, <HoverCard />, <Popover /> */
  --popover: oklch(100% 0 0deg);
  --popover-foreground: oklch(12.9% 0.042 264.695deg);

  /* 主题颜色 */
  --primary: oklch(68.5% 0.169 237.323deg);
  --primary-foreground: oklch(98.4% 0.003 247.858deg);

  /* Secondary colors for <Button /> */
  --secondary: oklch(90.8% 0.007 247.896deg);
  --secondary-foreground: oklch(20.8% 0.042 265.755deg);

  /* Muted backgrounds such as <TabsList />, <Skeleton /> and <Switch /> */
  --muted: oklch(96.8% 0.007 247.896deg);
  --muted-foreground: oklch(55.4% 0.046 257.417deg);

  /* Used for accents such as hover effects on <DropdownMenuItem>, <SelectItem>...etc */
  --accent: oklch(96.8% 0.007 247.896deg);
  --accent-foreground: oklch(20.8% 0.042 265.755deg);

  /* Used for success actions such as <message> */
  --info: hsl(240deg 5% 96%);
  --info-foreground: hsl(220deg 4% 58%);

  /* Used for destructive actions such as <Button variant="destructive"> */
  --destructive: oklch(57.7% 0.245 27.325deg);
  --destructive-foreground: hsl(0deg 0% 98%);

  /* Used for success actions such as <message> */

  --success: hsl(144deg 57% 58%);
  --success-foreground: hsl(0deg 0% 98%);

  /* Used for warning actions such as <message> */

  --warning: hsl(42deg 84% 61%);
  --warning-foreground: hsl(0deg 0% 98%);

  /* Darker color */
  --heavy: hsl(192deg 9.43% 89.61%);
  --heavy-foreground: var(--accent-foreground);

  /* Default border color */
  --border: oklch(92.2% 0 0deg);

  /* Border color for inputs such as <Input />, <Select />, <Textarea /> */
  --input: hsl(240deg 5.88% 90%);
  --input-placeholder: hsl(217deg 10.6% 65%);
  --input-background: hsl(0deg 0% 100%);

  /* Used for focus ring */
  --ring: oklch(70.8% 0 0deg);

  /* 遮罩颜色 */
  --overlay: hsl(0deg 0% 0% / 45%);
  --overlay-content: hsl(0deg 0% 95% / 45%);

  /* 基本文字大小 */
  --font-size-base: 16px;
  --chart-1: oklch(64.6% 0.222 41.116deg);
  --chart-2: oklch(60% 0.118 184.704deg);
  --chart-3: oklch(39.8% 0.07 227.392deg);
  --chart-4: oklch(82.8% 0.189 84.429deg);
  --chart-5: oklch(76.9% 0.188 70.08deg);

  /* menu */
  --sidebar: oklch(98.5% 0 0deg);
  --sidebar-foreground: oklch(14.5% 0 0deg);
  --sidebar-primary: oklch(20.5% 0 0deg);
  --sidebar-primary-foreground: oklch(98.5% 0 0deg);
  --sidebar-accent: oklch(97% 0 0deg);
  --sidebar-accent-foreground: oklch(20.5% 0 0deg);
  --sidebar-border: oklch(92.2% 0 0deg);
  --sidebar-ring: oklch(70.8% 0 0deg);
  --menu: var(--sidebar);
  --header: hsl(0deg 0% 100%);

  accent-color: var(--primary);
  color-scheme: light;
}

[data-theme='violet'] {
  /* --background: hsl(0 0% 100%); */
  --foreground: hsl(224deg 71.4% 4.1%);
  --card: hsl(0deg 0% 100%);
  --card-foreground: hsl(224deg 71.4% 4.1%);
  --popover: hsl(0deg 0% 100%);
  --popover-foreground: hsl(224deg 71.4% 4.1%);
  --primary-foreground: hsl(210deg 20% 98%);
  --secondary: hsl(220deg 14.3% 95.9%);
  --secondary-foreground: hsl(220.9deg 39.3% 11%);
  --muted: hsl(220deg 14.3% 95.9%);
  --muted-foreground: hsl(220deg 8.9% 46.1%);
  --accent: hsl(220deg 14.3% 95.9%);
  --accent-foreground: hsl(220.9deg 39.3% 11%);
  --destructive: hsl(0deg 84.2% 60.2%);
  --destructive-foreground: hsl(210deg 20% 98%);
  --border: hsl(220deg 13% 91%);
  --input: hsl(220deg 13% 91%);
  --ring: hsl(262.1deg 83.3% 57.8%);
}

[data-theme='pink'] {
  /* --background: hsl(0 0% 100%); */
  --foreground: hsl(240deg 10% 3.9%);
  --card: hsl(0deg 0% 100%);
  --card-foreground: hsl(240deg 10% 3.9%);
  --popover: hsl(0deg 0% 100%);
  --popover-foreground: hsl(240deg 10% 3.9%);
  --primary-foreground: hsl(355.7deg 100% 97.3%);
  --secondary: hsl(240deg 4.8% 95.9%);
  --secondary-foreground: hsl(240deg 5.9% 10%);
  --muted: hsl(240deg 4.8% 95.9%);
  --muted-foreground: hsl(240deg 3.8% 46.1%);
  --accent: hsl(240deg 4.8% 95.9%);
  --accent-foreground: hsl(240deg 5.9% 10%);
  --destructive: hsl(0deg 84.2% 60.2%);
  --destructive-foreground: hsl(0deg 0% 98%);
  --border: hsl(240deg 5.9% 90%);
  --input: hsl(240deg 5.9% 90%);
  --ring: hsl(346.8deg 77.2% 49.8%);
}

[data-theme='rose'] {
  /* --background: hsl(0 0% 100%); */
  --foreground: hsl(240deg 10% 3.9%);
  --card: hsl(0deg 0% 100%);
  --card-foreground: hsl(240deg 10% 3.9%);
  --popover: hsl(0deg 0% 100%);
  --popover-foreground: hsl(240deg 10% 3.9%);
  --primary-foreground: hsl(355.7deg 100% 97.3%);
  --secondary: hsl(240deg 4.8% 95.9%);
  --secondary-foreground: hsl(240deg 5.9% 10%);
  --muted: hsl(240deg 4.8% 95.9%);
  --muted-foreground: hsl(240deg 3.8% 46.1%);
  --accent: hsl(240deg 4.8% 95.9%);
  --accent-foreground: hsl(240deg 5.9% 10%);
  --destructive: hsl(0deg 84.2% 60.2%);
  --destructive-foreground: hsl(0deg 0% 98%);
  --border: hsl(240deg 5.9% 90%);
  --input: hsl(240deg 5.9% 90%);
  --ring: hsl(346.8deg 77.2% 49.8%);
}

[data-theme='sky-blue'] {
  /* --background: hsl(0 0% 100%); */
  --foreground: hsl(222.2deg 84% 4.9%);
  --card: hsl(0deg 0% 100%);
  --card-foreground: hsl(222.2deg 84% 4.9%);
  --popover: hsl(0deg 0% 100%);
  --popover-foreground: hsl(222.2deg 84% 4.9%);
  --primary-foreground: hsl(210deg 40% 98%);
  --secondary: hsl(210deg 40% 96.1%);
  --secondary-foreground: hsl(222.2deg 47.4% 11.2%);
  --muted: hsl(210deg 40% 96.1%);
  --muted-foreground: hsl(215.4deg 16.3% 46.9%);
  --accent: hsl(210deg 40% 96.1%);
  --accent-foreground: hsl(222.2deg 47.4% 11.2%);
  --destructive: hsl(0deg 84.2% 60.2%);
  --destructive-foreground: hsl(210deg 40% 98%);
  --border: hsl(214.3deg 31.8% 91.4%);
  --input: hsl(214.3deg 31.8% 91.4%);
  --ring: hsl(221.2deg 83.2% 53.3%);
}

[data-theme='deep-blue'] {
  /* --background: hsl(0 0% 100%); */
  --foreground: hsl(222.2deg 84% 4.9%);
  --card: hsl(0deg 0% 100%);
  --card-foreground: hsl(222.2deg 84% 4.9%);
  --popover: hsl(0deg 0% 100%);
  --popover-foreground: hsl(222.2deg 84% 4.9%);
  --primary-foreground: hsl(210deg 40% 98%);
  --secondary: hsl(210deg 40% 96.1%);
  --secondary-foreground: hsl(222.2deg 47.4% 11.2%);
  --muted: hsl(210deg 40% 96.1%);
  --muted-foreground: hsl(215.4deg 16.3% 46.9%);
  --accent: hsl(210deg 40% 96.1%);
  --accent-foreground: hsl(222.2deg 47.4% 11.2%);
  --destructive: hsl(0deg 84.2% 60.2%);
  --destructive-foreground: hsl(210deg 40% 98%);
  --border: hsl(214.3deg 31.8% 91.4%);
  --input: hsl(214.3deg 31.8% 91.4%);
  --ring: hsl(221.2deg 83.2% 53.3%);
}

[data-theme='green'] {
  /* --background: hsl(0 0% 100%); */
  --foreground: hsl(240deg 10% 3.9%);
  --card: hsl(0deg 0% 100%);
  --card-foreground: hsl(240deg 10% 3.9%);
  --popover: hsl(0deg 0% 100%);
  --popover-foreground: hsl(240deg 10% 3.9%);
  --primary-foreground: hsl(355.7deg 100% 97.3%);
  --secondary: hsl(240deg 4.8% 95.9%);
  --secondary-foreground: hsl(240deg 5.9% 10%);
  --muted: hsl(240deg 4.8% 95.9%);
  --muted-foreground: hsl(240deg 3.8% 46.1%);
  --accent: hsl(240deg 4.8% 95.9%);
  --accent-foreground: hsl(240deg 5.9% 10%);
  --destructive: hsl(0deg 84.2% 60.2%);
  --destructive-foreground: hsl(0deg 0% 98%);
  --border: hsl(240deg 5.9% 90%);
  --input: hsl(240deg 5.9% 90%);
  --ring: hsl(142.1deg 76.2% 36.3%);
}

[data-theme='deep-green'] {
  /* --background: hsl(0 0% 100%); */
  --foreground: hsl(240deg 10% 3.9%);
  --card: hsl(0deg 0% 100%);
  --card-foreground: hsl(240deg 10% 3.9%);
  --popover: hsl(0deg 0% 100%);
  --popover-foreground: hsl(240deg 10% 3.9%);
  --primary-foreground: hsl(355.7deg 100% 97.3%);
  --secondary: hsl(240deg 4.8% 95.9%);
  --secondary-foreground: hsl(240deg 5.9% 10%);
  --muted: hsl(240deg 4.8% 95.9%);
  --muted-foreground: hsl(240deg 3.8% 46.1%);
  --accent: hsl(240deg 4.8% 95.9%);
  --accent-foreground: hsl(240deg 5.9% 10%);
  --destructive: hsl(0deg 84.2% 60.2%);
  --destructive-foreground: hsl(0deg 0% 98%);
  --border: hsl(240deg 5.9% 90%);
  --input: hsl(240deg 5.9% 90%);
  --ring: hsl(142.1deg 76.2% 36.3%);
}

[data-theme='orange'] {
  /* --background: hsl(0 0% 100%); */
  --foreground: hsl(20deg 14.3% 4.1%);
  --card: hsl(0deg 0% 100%);
  --card-foreground: hsl(20deg 14.3% 4.1%);
  --popover: hsl(0deg 0% 100%);
  --popover-foreground: hsl(20deg 14.3% 4.1%);
  --primary-foreground: hsl(60deg 9.1% 97.8%);
  --secondary: hsl(60deg 4.8% 95.9%);
  --secondary-foreground: hsl(24deg 9.8% 10%);
  --muted: hsl(60deg 4.8% 95.9%);
  --muted-foreground: hsl(25deg 5.3% 44.7%);
  --accent: hsl(60deg 4.8% 95.9%);
  --accent-foreground: hsl(24deg 9.8% 10%);
  --destructive: hsl(0deg 84.2% 60.2%);
  --destructive-foreground: hsl(60deg 9.1% 97.8%);
  --border: hsl(20deg 5.9% 90%);
  --input: hsl(20deg 5.9% 90%);
  --ring: hsl(24.6deg 95% 53.1%);
}

[data-theme='yellow'] {
  /* --background: hsl(0 0% 100%); */
  --foreground: hsl(20deg 14.3% 4.1%);
  --card: hsl(0deg 0% 100%);
  --card-foreground: hsl(20deg 14.3% 4.1%);
  --popover: hsl(0deg 0% 100%);
  --popover-foreground: hsl(20deg 14.3% 4.1%);
  --primary-foreground: hsl(26deg 83.3% 14.1%);
  --secondary: hsl(60deg 4.8% 95.9%);
  --secondary-foreground: hsl(24deg 9.8% 10%);
  --muted: hsl(60deg 4.8% 95.9%);
  --muted-foreground: hsl(25deg 5.3% 44.7%);
  --accent: hsl(60deg 4.8% 95.9%);
  --accent-foreground: hsl(24deg 9.8% 10%);
  --destructive: hsl(0deg 84.2% 60.2%);
  --destructive-foreground: hsl(60deg 9.1% 97.8%);
  --border: hsl(20deg 5.9% 90%);
  --input: hsl(20deg 5.9% 90%);
  --ring: hsl(20deg 14.3% 4.1%);
}

[data-theme='zinc'] {
  /* --background: hsl(0 0% 100%); */
  --foreground: hsl(240deg 10% 3.9%);
  --card: hsl(0deg 0% 100%);
  --card-foreground: hsl(240deg 10% 3.9%);
  --popover: hsl(0deg 0% 100%);
  --popover-foreground: hsl(240deg 10% 3.9%);
  --primary-foreground: hsl(0deg 0% 98%);
  --secondary: hsl(240deg 4.8% 95.9%);
  --secondary-foreground: hsl(240deg 5.9% 10%);
  --muted: hsl(240deg 4.8% 95.9%);
  --muted-foreground: hsl(240deg 3.8% 46.1%);
  --accent: hsl(240deg 4.8% 95.9%);
  --accent-foreground: hsl(240deg 5.9% 10%);
  --destructive: hsl(0deg 84.2% 60.2%);
  --destructive-foreground: hsl(0deg 0% 98%);
  --border: hsl(240deg 5.9% 90%);
  --input: hsl(240deg 5.9% 90%);
  --ring: hsl(240deg 5.9% 10%);
}

[data-theme='neutral'] {
  /* --background: hsl(0 0% 100%); */
  --foreground: hsl(0deg 0% 3.9%);
  --card: hsl(0deg 0% 100%);
  --card-foreground: hsl(0deg 0% 3.9%);
  --popover: hsl(0deg 0% 100%);
  --popover-foreground: hsl(0deg 0% 3.9%);
  --primary-foreground: hsl(0deg 0% 98%);
  --secondary: hsl(0deg 0% 96.1%);
  --secondary-foreground: hsl(0deg 0% 9%);
  --muted: hsl(0deg 0% 96.1%);
  --muted-foreground: hsl(0deg 0% 45.1%);
  --accent: hsl(0deg 0% 96.1%);
  --accent-foreground: hsl(0deg 0% 9%);
  --destructive: hsl(0deg 84.2% 60.2%);
  --destructive-foreground: hsl(0deg 0% 98%);
  --border: hsl(0deg 0% 89.8%);
  --input: hsl(0deg 0% 89.8%);
  --ring: hsl(0deg 0% 3.9%);
}

[data-theme='slate'] {
  /* --background: hsl(0 0% 100%); */
  --foreground: hsl(222.2deg 84% 4.9%);
  --card: hsl(0deg 0% 100%);
  --card-foreground: hsl(222.2deg 84% 4.9%);
  --popover: hsl(0deg 0% 100%);
  --popover-foreground: hsl(222.2deg 84% 4.9%);
  --primary-foreground: hsl(210deg 40% 98%);
  --secondary: hsl(210deg 40% 96.1%);
  --secondary-foreground: hsl(222.2deg 47.4% 11.2%);
  --muted: hsl(210deg 40% 96.1%);
  --muted-foreground: hsl(215.4deg 16.3% 46.9%);
  --accent: hsl(210deg 40% 96.1%);
  --accent-foreground: hsl(222.2deg 47.4% 11.2%);
  --destructive: hsl(0deg 84.2% 60.2%);
  --destructive-foreground: hsl(210deg 40% 98%);
  --border: hsl(214.3deg 31.8% 91.4%);
  --input: hsl(214.3deg 31.8% 91.4%);
  --ring: hsl(222.2deg 84% 4.9%);
}

[data-theme='gray'] {
  /* --background: hsl(0 0% 100%); */
  --foreground: hsl(224deg 71.4% 4.1%);
  --card: hsl(0deg 0% 100%);
  --card-foreground: hsl(224deg 71.4% 4.1%);
  --popover: hsl(0deg 0% 100%);
  --popover-foreground: hsl(224deg 71.4% 4.1%);
  --primary-foreground: hsl(210deg 20% 98%);
  --secondary: hsl(220deg 14.3% 95.9%);
  --secondary-foreground: hsl(220.9deg 39.3% 11%);
  --muted: hsl(220deg 14.3% 95.9%);
  --muted-foreground: hsl(220deg 8.9% 46.1%);
  --accent: hsl(220deg 14.3% 95.9%);
  --accent-foreground: hsl(220.9deg 39.3% 11%);
  --destructive: hsl(0deg 84.2% 60.2%);
  --destructive-foreground: hsl(210deg 20% 98%);
  --border: hsl(220deg 13% 91%);
  --input: hsl(220deg 13% 91%);
  --ring: hsl(224deg 71.4% 4.1%);
}
